{block title}{$task->name}{/block}

{block content}
<div class="block">
  <script type="text/javascript" src="{$basePath|noescape}/_XML/transformations/guhaPMML2HTML/js/page.js"></script>
  {$content|noescape}
</div>