{block title}{$task->name}{/block}

{block content}
<div class="block">
  <style type="text/css">@import url({$basePath|noescape}/_XML/transformations/guhaPMML2HTML/navigation.css);</style>
  {$content|noescape}
</div>