{**
 * Template for ErrorPresenter
 * @author Stanislav Vojíř
 * @license http://www.apache.org/licenses/LICENSE-2.0 Apache License, Version 2.0
 *}
{block content}
  <div id="errorPage">
    <h1 n:inner-block=title>{_"Oops..."}</h1>
    <p>{_"Your browser sent a request that this server could not understand or process."}</p>
    {if $this->exception->getCode()>=400}
      <div class="errorCode">{$this->exception->getCode()}</div>
    {/if}
  </div>