{block content}

  <div id="installer">

    <h1 n:inner-block="title">DEV module</h1>

    <p>This module is usable only for dev purposes!</p>

    <ul>
      <li><a href="{plink Cache:clean}">Clean CACHE directory</a></li>
    </ul>

  </div>