[submodule "submodules/EasyMiner-MiningUI"]
	path = submodules/EasyMiner-MiningUI
	url = https://github.com/KIZI/EasyMiner-MiningUI.git
	branch = master
[submodule "submodules/EasyMiner-MiningUI2"]
	path = submodules/EasyMiner-MiningUI2
	url = https://github.com/KIZI/EasyMiner-MiningUI2
	branch = master
[submodule "submodules/EasyMiner-Help"]
	path = submodules/EasyMiner-Help
	url = https://github.com/KIZI/EasyMiner-Help.git
[submodule "submodules/EasyMiner-BRE"]
	path = submodules/EasyMiner-BRE
	url = https://github.com/KIZI/EasyMiner-BRE.git
[submodule "submodules/EasyMiner-XML"]
	path = submodules/EasyMiner-XML
	url = https://github.com/KIZI/EasyMiner-XML.git
