{* View for upload form *}

{block content}

  <div id="mainBlock">
    <h1>{_'Import file from archive'}</h1>
    <p>
      {_'We have found more CSV files in the uploaded archive. Please select, which one of them should be imported.'}
    </p>

    {control importZipForm}
  </div>

