{* This is the welcome page, you can delete it *}

{block content}

  <h1 n:block=title>{_'New EasyMiner'}</h1>

{*  {control newMinerForm}*}

  {if (count($miners))}
    <div class="actionsDiv bigButtons">
      <h2>Open existing miner</h2>

      {foreach $miners as $miner}
        <a href="{link Data:openMiner id=>$miner->idMiner}">{$miner->name}</a>
      {/foreach}
    </div>
  {/if}

{/block}


