{**
 * Template for BreTesterPresenter
 * @author Stanislav Vojíř
 * @license http://www.apache.org/licenses/LICENSE-2.0 Apache License, Version 2.0
 *}
{block content}

  <div id="mainBlock">
      <h1 n:block="title">{_'Create new knowledge experiment'}</h1>

      {control newTestForm}

  </div>

{/block}


