{**
 * Template for BreTesterPresenter
 * @author Stanislav Vojíř
 * @license http://www.apache.org/licenses/LICENSE-2.0 Apache License, Version 2.0
 *}

{block headerLinks}
  {*TODO možná nějaký odkaz na nápovědu?*}
{/block}

{block content}

  <div id="mainBlock">
    <h1 n:block=title n:if="(!empty($breTest->name))">{$breTest->name}</h1>
    <p>{$breTest->infoText}</p>

    <div class="actions">
      <a href="{link newUser id=>$breTest->testKey}" >{_'Start test...'}</a>
    </div>
  </div>

{/block}


