#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
    arc2:
        db_name: 'brserver'
        db_user: 'brserver'
        db_pwd: 'brserverPassword'
        store_name: 'easyminerkb'
        max_errors: 1000
    leanmapper:
        driver: mysqli
        host: localhost
        username: root
        password:
        database: brserver2
        encoding: utf8
    imports_directory: "./temp/fileImports"
    urls:
        open_miner: "http://sewebar-dev.lmcloud.vse.cz/izi-miner/?id_dm={:minerId}"

facebook:
    appId: "713356372046344"
    appSecret: "2b77d744416d28ea368f27ffe47b01e5"
    permissions: [email,public_profile]

google:
    clientId: "258219323867-igtrjet7hlc96tr8krh6qdn3hmgj9v3k.apps.googleusercontent.com"
    clientSecret: "uLV1zcXofUy99PMX6wd60vCy"
    returnUri: ':EasyMiner:User:oauthGoogle'(do=login-google-response)

php:
	date.timezone: Europe/Prague


nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\*Module\Presenters\*Presenter

	session:
		expiration: 14 days

extensions:
    facebook: Kdyby\Facebook\DI\FacebookExtension
    google: Kdyby\Google\DI\GoogleExtension

services:
	- App\RouterFactory
	router: @App\RouterFactory::createRouter
	translator: App\Model\BlankTranslator
	arc2Store: \ARC2::getStore(%arc2%)
	knowledgeRepository: App\Model\Rdf\Repositories\KnowledgeRepository(@arc2Store)
	xmlSerializer: App\Model\Rdf\Serializers\XmlSerializer
	xmlUnserializer: App\Model\Rdf\Serializers\XmlUnserializer

	- LeanMapper\Connection(%leanmapper%)
	- LeanMapper\DefaultEntityFactory
	- App\Model\EasyMiner\Mappers\StandardMapper

	- App\Model\EasyMiner\Facades\HelperFacade
	- App\Model\EasyMiner\Facades\DatasourcesFacade
	- App\Model\EasyMiner\Facades\MinersFacade
	- App\Model\EasyMiner\Facades\UsersFacade

	- App\Model\EasyMiner\Repositories\DatasourcesRepository
	- App\Model\EasyMiner\Repositories\HelperDataRepository
	- App\Model\EasyMiner\Repositories\MinersRepository
	- App\Model\EasyMiner\Repositories\UsersRepository

	- App\Model\Data\Facades\FileImportsFacade(%imports_directory%)
