#
#   Soubor s konfigurací aplikace pro konkrétní server
#

parameters:
    miningDriverFactory:
        driver_lm:
            class:  App\Model\Mining\LM\LMDriver
            pooler: task
            server:
        driver_r:
            class:  App\Model\Mining\LM\RDriver
            server:
            imports_directory: "absolutePath"
    arc2:
        db_name:
        db_user:
        db_pwd:
        store_name: 'easyminerkb'
        max_errors: 1000
    leanmapper:
        driver: mysqli
        host: localhost
        username: root
        password:
        database:
        encoding: utf8
    imports_directory: "absolutePath"
    users_photos_directory: "absolutePath"
    users_photos_url: "urlToPhotosDirectory"
    mail_from: "stanislav.vojir@vse.cz"
    databases:
        mysql:
            _username: 'user*'
            _database: 'user*'
            username: root
            password:
            server: localhost
            allowFileImport: true
        cassandra:
            _username: 'user*'
            _database: 'user*'
            username:
            password:
            server: localhost

facebook:
    appId: ""
    appSecret: ""
    permissions: [email,public_profile]

google:
    clientId: ""
    clientSecret: ""
    returnUri: ':EasyMiner:User:oauthGoogle'(do=login-google-response)
