parameters:
	arc2:
		db_name: 'easyminer_core'
		db_user: 'root'
		db_pwd: ''
		store_name: 'easyminerkb'
		max_errors: 100

nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\*Module\Presenters\*Presenter

	session:
		expiration: 14 days

	database:
	    dsn: "mysql:host=127.0.0.1;dbname=brserver2"
	    user: "root"
	    password: ""
	    options: [PDO::MYSQL_ATTR_COMPRESS = true]
	    debugger: true        # panel v debugger baru
	    explain: true        # explain dotazů v debugger bar
	    reflection: discovered  # nebo conventional nebo classname, výchozí je discovered
	    autowired: true