#
#   Soubor s konfigurací aplikace pro konkrétní server
#

php:
	date.timezone: Europe/Prague

parameters:
    install:
        version: versionId
        password: xxxxxxxxx

    miningDriverFactory:
        driver_lm:
            server:
            importsDirectory: "absolutePath"
        driver_r:
            server:
            minerUrl:
            importsDirectory: "absolutePath"

    scorerDriverFactory:
        driver_modelTester:
            server: "http://br-dev.lmcloud.vse.cz:8080/DroolsModelTester_web/rest/"
            tempDirectory: "/var/www/easyminercenter/www/temp"
        driver_easyMinerScorer:
            server: "http://xtest.lmcloud.vse.cz:9980/easyminer-scorer/latest/"

    mainDatabase:
        driver: mysqli
        host: localhost
        username: root
        password:
        database:
        encoding: utf8
    csvImportsDirectory: "absolutePath"
    usersPhotosDirectory: "absolutePath"
    usersPhotosUrl: "urlToPhotosDirectory"
    emailFrom: "stanislav.vojir@vse.cz"
    databases:
        mysql:
            _username: 'user*'
            _database: 'user*'
            username: root
            password:
            server: localhost
            allowFileImport: true
        limited:
            _username: 'user*'
            _database: 'user*'
            server: 'db server'
            username: 'db admin username'
            password: 'db admin password'
            api: "URL datové služby"
        unlimited:
            _username: 'user*'
            _database: 'user*'
            server: 'db server'
            port: 'db port'
            api: "URL datové služby"

facebook:
    appId: ""
    appSecret: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

google:
    clientId: ""
    clientSecret: "xxxxxxxxxxxxxxxxxxxxxxxx"
