#
#   Soubor s konfigurací aplikace pro konkrétní server
#

php:
	date.timezone: Europe/Prague

parameters:
    install:
        version: versionId
        password: xxxxxxxxx

    miningDriverFactory:
        driver_lm:
            server:
            importsDirectory: "absolutePath"
        driver_r:
            server:
            minerUrl:
            importsDirectory: "absolutePath"
    mainDatabase:
        driver: mysqli
        host: localhost
        username: root
        password:
        database:
        encoding: utf8
    csvImportsDirectory: "absolutePath"
    usersPhotosDirectory: "absolutePath"
    usersPhotosUrl: "urlToPhotosDirectory"
    emailFrom: "stanislav.vojir@vse.cz"
    databases:
        mysql:
            _username: 'user*'
            _database: 'user*'
            username: root
            password:
            server: localhost
            allowFileImport: true

facebook:
    appId: ""
    appSecret: "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

google:
    clientId: ""
    clientSecret: "xxxxxxxxxxxxxxxxxxxxxxxx"
