#Nette configuration file for InstallModule (no other dependencies required)
#
# Soubor s globální konfigurací aplikace
#

php:
	date.timezone: Europe/Prague
	zlib.output_compression: no

nette:
	application:
		errorPresenter: Install:Error
		catchExceptions: true
		mapping:
			*: EasyMinerCenter\*Module\Presenters\*Presenter

	session:
		expiration: 14 days
		autoStart: yes

parameters:
    dev: false
    databases:
    miningDriverFactory:
        driver_lm:
            class: EasyMinerCenter\Model\Mining\LM\LMDriver
            pooler: task
        driver_r:
            class: EasyMinerCenter\Model\Mining\R\RDriver
        driver_cloud:
            class: EasyMinerCenter\Model\Mining\Cloud\CloudDriver

services:
	routing.router: EasyMinerCenter\InstallModule\Router\RouterFactory::createRouter()
	- EasyMinerCenter\Model\EasyMiner\Serializers\XmlSerializersFactory("installation")
	- EasyMinerCenter\Model\Mining\MiningDriverFactory(%miningDriverFactory%)
	- EasyMinerCenter\InstallModule\DevModule\Model\DevConfigManager(%dev%)
	- EasyMinerCenter\Model\Data\Databases\DatabaseFactory(%databases%)
