#
#   Soubor s konfigurací pro IZI-UI
#   TODO vyčistit konfigurační parametry...
#

parameters:
    izi-ui:
        DDPath: '/libs/IZI-Data/datadescription_0.2.xml'
        FLPath_R: '/config/izi/featureList_exploration_R.xml'
        FLPath_LM: '/config/izi/featureList_exploration_LM.xml'
        FLPath_CLOUD: '/config/izi/featureList_exploration_CLOUD.xml'
        FGCPath: '/libs/IZI-Data/fieldGroupConfig.xml'
        ERPath: null
        ETreePath: null
        FAPath: '/libs/IZI-Data/data/frequencyAnalysis.xml'
        KB_CONF_ID: 6 # KBI query ID - confirmation
        KB_EXC_ID: 7 # KBI query ID - exception
        MAX_INITIALIZATION_REQUESTS: 15
        MAX_MINING_REQUESTS: 10
        MAX_ETREE_REQUESTS: 10