php:
        date.timezone: Europe/Prague

parameters:
        router:
                secured: false

        databases:
                limited:
                        server: easyminer-mysql
                        username: root
                        password: root
                        _username: emc_*
                        _database: emc_*
                        allowFileImport: false
                        api: http://easyminer-backend:8891/easyminer-data/api/v1
                        preprocessingApi: http://easyminer-backend:8892/easyminer-preprocessing/api/v1

                unlimited:
                        server: took90.ics.muni.cz
                        port: "10000"
                        _username: easyminer
                        _database: emc_*
                        api: http://easyminer-backend:8891/easyminer-data/api/v1
                        preprocessingApi: http://easyminer-backend:8892/easyminer-preprocessing/api/v1
                        _password: false

        miningDriverFactory:
                driver_cloud:
                        server: http://easyminer-backend:8893
                        minerUrl: /easyminer-miner/api/v1
                        importsDirectory: /var/www/html/easyminercenter/app/../temp/pmmlImports/cloud

                driver_r:
                        server: ""

                driver_lm:
                        server: ""

        mainDatabase:
                driver: mysqli
                host: easyminer-mysql
                username: emc_000
                password: emc_000
                encoding: utf8
                database: emc_000

        csvImportsDirectory: /var/www/html/easyminercenter/app/../temp/fileImports
        usersPhotosDirectory: /var/www/html/easyminercenter/app/../www/images/users
        usersPhotosUrl: /easyminercenter/images/users
        emailFrom: vaclav.zeman@vse.cz
        install:
                password: $2y$10$JroIyhf8CZuNZce9OMsD1e36y54HjeueBvfyLGeM02gi6ij7GMD.S

facebook:
        appId: ""
        appSecret: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

google:
        clientId: ""
        clientSecret: xxxxxxxxxxxxxxxxxxxxxxxx