{**
 * Template for WizardPresenter
 * @author Stanislav Vojíř
 * @license http://www.apache.org/licenses/LICENSE-2.0 Apache License, Version 2.0
 *}
{block installer}
  <h1>EasyMinerCenter Installer</h1>
  <h2 n:inner-block="title">Installation password</h2>
  <p>To continue in the installation wizard, you have to input the <strong>installation password</strong> inputed in the last installation.</p>

  {control checkPasswordForm}