{block installer}
  <h1>EasyMinerCenter Installer</h1>
  <h2 n:inner-block="title">Select transfer protocol</h2>
  <p>If your web server supports secured transfer protocol HTTPS, you should select it in the following form.</p>

  {control httpsForm}