{block content}
  <div id="installer">
    <h1>EasyMinerCenter Installer</h1>
    <h2 n:inner-block="title">Social logins support</h2>
    <p>This application support user authentication using social networks. For support of this feature, you have to generate applications - see the <a href="https://github.com/KIZI/EasyMiner-EasyMinerCenter/wiki/Installation">project wiki</a></p>

    {control loginsForm}

  </div>