{block content}
  <div id="installer">
    <h1>EasyMinerCenter Installer</h1>
    <h2 n:inner-block="title">Data mining backends</h2>
    <p>You have to install and configure at least one of the available data mining backends. After the installation of the backends you should to fill in the following form:</p>

    {control minersForm}

  </div>