{block installer}
  <h1>EasyMinerCenter Installer</h1>
  <h2 n:inner-block="title">Data mining backends</h2>
  <p>You have to install and configure at least one of the available data mining backends. After the installation of the backends you should to fill in the following form.</p>
  <p>If the backend application runs on a specific form (other than 80), the port must be set in the URL. For example: <em>http://127.0.0.1:8888/api/v1</em></p>

  {control minersForm}