{**
 * Template for WizardPresenter for displaying the progress
 * @author Stanislav Vojíř
 * @license http://www.apache.org/licenses/LICENSE-2.0 Apache License, Version 2.0
 *}
{if @$stepNumber>0}
  {var $progress=round($stepNumber*100/$stepsCount)}
  <div id="progress" title="Installation progress">
    {$progress}%
    <div id="progressGraph"><div style="width:{$progress}%;"></div></div>
  </div>
{/if}