{block installer}
  <h1>EasyMinerCenter Installer</h1>
  <h2 n:inner-block="title">Installation password</h2>
  <p>The installation wizard has been finished. For the future access to this wizard, please fill-in a installation password.</p>

  {control setPasswordForm}