{block content}
  <div id="installer">
    <h1>EasyMinerCenter Installer</h1>
    <h2 n:inner-block="title">{$title}</h2>
    <p n:ifcontent="$text">{$text}</p>

    <table class="statesTable">
      <tr>
        <th>Request</th>
        <th>State</th>
      </tr>
      {foreach $states as $text=>$state}
        <tr>
          <td>{$text}</td>
          {if $state}
            <td class="stateOk">OK</td>
          {else}
            <td class="stateErr">error</td>
          {/if}
        </tr>
      {/foreach}
    </table>

    <div class="actions">
      <a href="{link this}">Reload...</a>
    </div>

  </div>