{* Stránka pro přihlášení uživatele*}

{block content}

  <div id="mainBlock">
    <h1 n:block=title>{_'Change password'}</h1>
    <p>{_'E-mail'}: <strong>{$selectedUser->email}</strong></p>
    {control changePasswordForm}
  </div>

{/block}


