{* Stránka pro přihlášení uživatele*}

{block content}

  <div class="centerContent smallBlock">
    <h1 n:block=title>{_'Change password'}</h1>
    <p>E-mail: <strong>{$selectedUser->email}</strong></p>
    {control changePasswordForm}
  </div>

{/block}


