{**
 * Template for UserPresenter
 * @author Stanislav Vojíř
 * @license http://www.apache.org/licenses/LICENSE-2.0 Apache License, Version 2.0
 *}
{block content}

  <div id="mainBlock">
    <h1 n:block=title>{$title}</h1>
    {$form}
  </div>

{/block}


