{* Stránka pro přihlášení uživatele *}

{block content}

  <h1 n:block=title>{_'EasyMiner login'}</h1>

  {control loginForm}

  <a n:href="facebookLogin-open!">Login using Facebook</a>
  <a n:href="googleLogin-open!">Login using Google</a>

{/block}


