# Apache configuration file (see httpd.apache.org/docs/current/mod/quickreference.html)
Header set Access-Control-Allow-Origin: *
# Header set Cross-Origin-Embedder-Policy "unsafe-none"
Header set Cross-Origin-Opener-Policy: *
Header always unset Content-Security-Policy
Header set Content-Security-Policy "upgrade-insecure-requests;frame-src *;frame-ancestors *"
Header set X-UA-Compatible "IE=Edge,chrome=1"

# disable directory listing
<IfModule mod_autoindex.c>
	Options -Indexes
</IfModule>

<IfModule mod_php5.c>
  php_value upload_max_filesize 10M
  php_value post_max_size 10M
  php_value max_execution_time 120
</IfModule>

# enable cool URL
	RewriteEngine On
	# RewriteBase /

	# prevents files starting with dot to be viewed by browser
	RewriteRule /\.|^\. - [F]

  #submodules
  RewriteRule ^_miningUI/(.*) ../submodules/EasyMiner-MiningUI/web/$1 [L,QSA]
  RewriteRule ^_miningUI2/(.*) ../submodules/EasyMiner-MiningUI2/public/$1 [L,QSA]
  RewriteRule ^em/mining-ui/_help/(.*) ../submodules/EasyMiner-Help/$1 [L,QSA]
  RewriteRule ^_help/(.*) ../submodules/EasyMiner-Help/$1 [L,QSA]
  RewriteRule ^_BRE/(.*) ../submodules/EasyMiner-BRE/$1 [L,QSA]
  RewriteRule ^_XML/(.*) ../submodules/EasyMiner-XML/$1 [L,QSA]

  RewriteRule ^install index.install.php [L,QSA]

	#main controller
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule !\.(pdf|js|ico|gif|jpg|png|css|rar|zip|tar\.gz)$ index.php [L]


# enable gzip compression
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/x-javascript text/javascript application/javascript application/json
</IfModule>
