/*styly pro šablony DataPresenteru*/

#newMinerPage
  width auto
  flexbox(flex)
  flex-direction(row)
  flex-justify(center)
  flex-wrap(wrap)
  flex-content(center)
  flex-align(start)
  > div
    smallBlock()

    #existingDataSources
      display none

#uploadDataPage
  width minContentWidth2 - 2*blockMargin
  padding-left blockMargin
  padding-right blockMargin
  flexbox(flex)
  flex-direction(row)
  flex-justify(center)
  flex-wrap(nowrap)
  flex-content(stretch)
  flex-align(start)

  div.config
    smallBlock()

  div.preview
    block()
    flex(shrink: 1)
    overflow-y auto
    margin-right 0

    #dataPreviewLoading
      background: url("../images/icons/icon-loading-bw-20.gif") left center no-repeat;
      padding-left: 30px;

    table
      listTable()



/*region datasource* /
a.datasourceColumnItem {
  display: block;
  margin: 5px auto;
  padding:12px 15px;
  background: #075783;
  border: 1px solid rgb(49,78,100);
  color: white;
  cursor: pointer;
}
a.datasourceColumnItem:hover, a.datasourceColumnItem:focus, a.datasourceColumnItem.selected{
  border: 1px solid #2d83be;
  background-color:#2d83be;
  text-decoration: none;
}
a.datasourceColumnItem .title{
  display: block;
  margin-bottom: 5px;
}
a.datasourceColumnItem .subtitle{
  color: rgb(230,230,230);
}
a.datasourceColumnItem .subtitle .stateErr {
  color: orange;
}
/ *endregion*/