/*styly pro šablony NewDataPresenteru*/
uploadConfigSelectWidth=200px


#uploadFormBlock
  mainBlock()

#uploadConfigBlock
  flexbox(flex)
  flex-direction(row)
  flex-wrap(wrap)
  flex-align(start)

  > .form
    block()
    background white
    flex(null,0,0)
    normalizeInputWidth(0.7*normalInputWidth)

  #uploadConfigPreviewBlock
    flex(null,1,1)
    block()

    > table
      listTable()
      margin 0



#uploadColumnsBlock
  block()
  #uploadColumnsListBlock > table
    listTable()
    width 100%
    table-layout fixed
    border-spacing collapse

    tr:first-child
      th:nth-child(1)
        width normalInputWidth
      th:nth-child(2)
        width 0.6*normalInputWidth

    td:nth-child(1)
      width normalInputWidth
    td:nth-child(2)
      width 0.6*normalInputWidth
      select
        width 100%
    td.values
      div
        width 100%
        text-overflow ellipsis
        white-space nowrap
        overflow hidden
      span
        valuePreview()


#uploadProgressBlock
  block()
  padding-bottom 120px
  background white url('../images/icons/icon-loading-bw-72.gif') no-repeat bottom 20px center
  .progressBar
    height 2em
    position relative
    border 1px solid #d3d3d3
    width 100%
    margin 10px 0 5px 0
    padding 3px 5px
    .bg
      background #d3d3d3
      width 0
      position absolute
      left 0
      top 0
      height 2em
      z-index 1
    div
      position relative
      z-index 2

#backgroundTaskBlock
  padding-bottom 100px
  background transparent url('../images/icons/icon-loading-bw-72.gif') no-repeat bottom center
  &.fullscreen
    block()
    padding-bottom 120px
    background white url('../images/icons/icon-loading-bw-72.gif') no-repeat bottom 20px center

/*styly pro šablony DataPresenteru*/

#newMinerPage
  width auto
  flexbox(flex)
  flex-direction(row)
  flex-justify(center)
  flex-wrap(wrap)
  flex-content(center)
  flex-align(start)
  > div
    smallBlock()

    #existingDataSources
      display none

#uploadDataPage
  width minContentWidth2 - 2*blockMargin
  padding-left blockMargin
  padding-right blockMargin
  flexbox(flex)
  flex-direction(row)
  flex-justify(center)
  flex-wrap(nowrap)
  flex-content(stretch)
  flex-align(start)

  div.config
    smallBlock()

  div.preview
    block()
    flex(shrink: 1)
    overflow-y auto
    margin-right 0

    #dataPreviewLoading
      background: url("../images/icons/icon-loading-bw-20.gif") left center no-repeat;
      padding-left: 30px;

    table
      listTable()



/*region datasource* /
a.datasourceColumnItem {
  display: block;
  margin: 5px auto;
  padding:12px 15px;
  background: #075783;
  border: 1px solid rgb(49,78,100);
  color: white;
  cursor: pointer;
}
a.datasourceColumnItem:hover, a.datasourceColumnItem:focus, a.datasourceColumnItem.selected{
  border: 1px solid #2d83be;
  background-color:#2d83be;
  text-decoration: none;
}
a.datasourceColumnItem .title{
  display: block;
  margin-bottom: 5px;
}
a.datasourceColumnItem .subtitle{
  color: rgb(230,230,230);
}
a.datasourceColumnItem .subtitle .stateErr {
  color: orange;
}
/ *endregion*/