/*Styly pro zobrazování flash zpráv*/

div.flash
  color black
  background #FFF9D7
  border 1px solid #E2C822
  padding 1em
  margin 1em 0
  +tablet_l()
    min-width smallBlockWidth
    padding 20px
    margin 1em auto