/*Styly pro patičku*/

body > footer
  border-top 1px solid footerBgColor
  background footerBgColor
  background rgba(red(footerBgColor),green(footerBgColor),blue(footerBgColor),0.4)
  color footerFontColor
  text-align center
  font-size 14px
  padding 0
  margin 0
  min-width minContentWidth2
  height footerHeight
  width 100%
  position absolute
  left 0
  bottom 0
  +tablet_l()
    flexbox(flex)
    position initial
    min-width initial

  div.content
    height footerContentHeight
    padding footerContentPadding 0
    centerMainContent()
    font-size footerFontSize
    text-align left
    +tablet_l()
      flexbox(flex)
      flex-align(center)
      flex-direction(row)
      flex-justify(space-between)
      width 100%
      height 100%
      padding 0
      position initial

    .disclaimer
      padding 10px 0 10px 10px
      height footerContentHeight
      float left
      +tablet_l()
        flexbox(flex)
        float none
        height auto
        padding 7px 0 7px 10px

    .copyright
      padding-right 20px
      float right
      +tablet_l()
        flexbox(flex)
        float none

    a
      // flexbox(flex)
      padding-right 0.3em
      font-size footerFontSize
      color footerFontColor
      &:hover
        color white