/*Styly pro patičku*/

body > footer
  border-top 1px solid footerBgColor
  background footerBgColor
  background rgba(red(footerBgColor),green(footerBgColor),blue(footerBgColor),0.4)
  color footerFontColor
  text-align center
  font-size 14px
  padding 0
  margin 0
  min-width minContentWidth2
  height footerHeight
  width 100%
  position absolute
  left 0
  bottom 0

  div.content
    height footerContentHeight
    padding footerContentPadding 0
    centerMainContent()
    font-size footerFontSize
    text-align left

    .disclaimer
      padding-left 20px
      float left

    .copyright
      padding-right 20px
      float right

    a
      font-size footerFontSize
      color footerFontColor
      &:hover
        color white