headerLinkItem()
  color #CEE7F7
  font-size buttonFontSize
  font-weight bold
  font-family buttonFontFamily
  display inline-block
  padding 2px 0 2px 30px
  margin 0 10px

headerLinkItemHover()
  color #ffffff
  text-decoration underline

header#mainHeader
  background: #ededed url("../images/bg-header.png") repeat-x top;
  height 146px;
  width 100%

  #headerContent
    width:1320px;
    position: relative;
    padding-right:15px;
    margin: 0 auto;

    #browser-warning
      margin 0 0 0 4*boxMargin; padding-top 6px
      color: red
      float: left

    #headerLinks
      text-align right
      height 30px
      padding-top 5px
      float right

      a
        headerLinkItem()
        &:hover
          headerLinkItemHover()
        &#new-task
          background transparent url('../images/sprite-icons.png') -113px -262px no-repeat
        &#support
          background transparent url('../images/sprite-icons.png') -14px -610px no-repeat
        &#settings-open
          background transparent url('../images/sprite-icons.png') -213px -610px no-repeat

      span
        headerLinkItem()
        a
          padding 0
          margin 0
          display inline
        &#current-user
          background transparent url('../images/icon-user-24.png') no-repeat


    h1
      color h1Color
      font h1Font
      margin 0 0 0 30px
      padding-top: 16px
      letter-spacing 2px
      clear both
      float left

      &.typeR
        padding-right 90px
        background transparent url('../images/logo-r.png') right 6px no-repeat

      &.typeLM
        padding-right 200px
        background transparent url('../images/logo-lm.png') right 38px no-repeat

      em
        font-style normal
        letter-spacing normal
        position relative; bottom 5px
        margin 0 2px

      sup
        display none
        color #9de045
        font-size 0.6em
        letter-spacing normal
        margin-left 10px
        position relative; top -0.8em

      span
        display block
        font-size 19px
        letter-spacing normal
        position relative; top -8px