/** Styles for main page HEADER */
headerBgColor = #075783
headerTextColor = white
headerMenuBgColor = white
headerUserMenuImageSize = 100px
headerMenuPadding = 10px

headerLink()
  display block
  float right
  text-align center
  width 48px
  padding-top 54px
  padding-bottom 2px
  margin 0 12px
  font-size 10px
  background-position center 2px
  background-repeat no-repeat
  opacity 0.7
  color transparent
  &:hover
  &.active
    color headerTextColor
    opacity 1
  &.disabled
    opacity 0.4
    cursor not-allowed

headerAppsLink()
  display block
  float left
  text-align center
  width 48px
  border 1px solid headerMenuBgColor
  padding 54px 10px 4px 10px
  margin 5px
  font-size 10px
  background-position center 2px
  background-repeat no-repeat
  opacity 0.9
  color black
  text-decoration none
  &:hover
  &.active
    opacity 1
    text-decoration none
    border 1px solid headerBgColor
  &.disabled
    opacity 0.4 !important
    cursor not-allowed

body > header
  background url("../images/bg-header.png") repeat-x scroll bottom headerBgColor
  height 100px
  min-width 100%
  font-family font
  font-size baseFontSize
  div.content
    height 100px
    centerMainContent()
    //region logo
    h1
      color #fff
      font-family "Times New Roman", Times, serif
      font-size 48px
      font-weight normal
      letter-spacing: 2px;
      margin 0
      padding 0
      padding-top 9px
      position absolute
      left 20px
      top 0
      cursor pointer
      span
        display block
        font-size 17px
        letter-spacing 1px
        position relative
        top -12px
      sup
        color: #9de045;
        font-size: 0.6em;
        letter-spacing: normal;
        margin-left: 10px;
        position: relative
      /*SPECIAL TYPES OF H1*/
      &.typeR
        padding-right 86px
        background transparent url('../images/logo-r.png') right 0 no-repeat
      &.typeLM
        padding-right 200px
        background transparent url('../images/logo-lm.png') right 32px no-repeat
        /*TODO*/
    div#applicationSubTitle
      font-size 12px
      font-weight 700
      text-align center
      width 100%
      position absolute
      bottom 14px
      left 0
      color headerTextColor
      max-height 60px
      overflow-y hidden


    div.headerLinks
      position: absolute;
      top 20px
      right 20px
      font-weight: bold;
      color: rgb(206,231,247);

      a
        color headerTextColor
        text-decoration none
        &.user
          display block
          float right
          margin-left 10px
          text-align center
          .img
            display block
            background url('../images/icons/user-48.png') center center no-repeat
            width 48px
            height 48px
            margin 0 auto
            img
              width 100%
              max-width 100%
              max-height 100%
              margin auto
              display block
              border 1px solid headerBgColor
          .name
            margin-top 5px
            font-size 10px
          &:hover, &.active
            .img img
              border-color headerTextColor
        &.help
          headerLink()
          background-image url('../images/icons/help-48.png')
        &#headerAppsLink
          headerLink()
          background-image url('../images/icons/apps-48.png')

  .headerMenu
    background headerMenuBgColor
    position absolute
    display none
    z-index 100
    box-shadow(0, 0, 10px, 0, boxShadowColor)
    div.menuLinkArrow
      width 0 !important
      border-color transparent transparent headerMenuBgColor
      border-style dashed dashed solid
      border-width 0 7px 7px
      position absolute
      padding 0 !important
      min-width 0 !important
      max-width 0 !important
      top -7px
    &#headerUserMenu
      .img
        margin headerMenuPadding
        display block
        float left
        border none
        width headerUserMenuImageSize
        height headerUserMenuImageSize
        overflow hidden
        cursor pointer
        img
          max-width 100%
          max-height 100%
          width 100%
      div
        font-weight normal
        font-size 80%
        min-width 200px
        padding-left headerUserMenuImageSize
        padding-right headerMenuPadding
        padding-top 0
        &.name
          font-weight bold
          font-size 100%
          min-width 2*headerUserMenuImageSize
          padding-top headerMenuPadding
        &.actions
          padding-top headerMenuPadding
          padding-bottom headerMenuPadding
          a
            button()
            font-size 0.9*baseFontSize

    &#headerAppsMenu
      padding 10px
      max-width 240px
      a
        &.newMiner
          headerAppsLink()
          background-image url('../images/icons/new-miner-48.png')
        &.newFile
          headerAppsLink()
          background-image url('../images/icons/new-file-48.png')

