div#homePage
  +tablet()
    flexbox(flex)
    flex-direction(row)
    flex-wrap(wrap)
    flex-justify(start)
    flex-align(start)
    height 100%
    div 
      box-sizing border-box
    padding 0 5%
  #slogan
    opacity 0.8
    margin blockMargin
    min-height 80px
    +tablet()
      flexbox(flex)
      flex-direction(row)
      width 100%
    +mobile()
      min-height initial
    > div
      padding 2*blockMargin blockMargin
      display none
      &.visible
        display block
        +tablet()
          flexbox(flex)
          flex-direction(row)
          flex-justify(start)
      .slogan-content
        .normal
          flexbox(flex)
        .mobile
          display none
      +tablet()
        .slogan-content
          flexbox(flex)
          flex-direction(column)
          flex-justify(center)
          width 100%
          h2
            width 100%
            margin 0
            padding 5px 0
            color white

          p
            margin 0
            padding 0
            color white
            overflow hidden
            text-overflow ellipsis
            white-space nowrap
            width 500px
          .normal
            display none
          .mobile
            flexbox(flex)


      h2
        margin 0
        padding 5px 0
        color white

      p
        margin 0
        padding 0
        color white

      > img
        float left
        width 80px
        height 80px
        margin-right 30px
        +mobile()
          display none
      +mobile()
        .slogan-content
          p 
            // visibility hidden
            // overflow hidden
            // text-overflow ellipsis
            // white-space nowrap
            width 260px

  #actions
    overflow auto
    flexbox(flex)
    flex-direction(row)
    flex-justify(center)
    flex-wrap(wrap)
    flex-content(center)
    flex-align(stretch)
    +mobile()
      flex-direction(column)
    +tablet_p()
      flex-direction(column)
      padding 0 30%
      .start
      .more
      .about
        flexbox(flex)
        flex-direction(column)
        flex-align(center)
        width 100%


    section
      block()
      flex(25%)
      +tablet()
        li
          padding 10px

      h2
        padding 10px 10px 5px 60px
      &.start
        flex(grow:1)
        +tablet()
          margin-left 10px
        +tablet_p()
          margin-left 0
        h2
          background url(../images/icons/plane-48.png) left center no-repeat
        .actions
          text-align center
          a
            font-size baseFontSize
            padding 15px 30px
      &.more
        h2
          background url(../images/icons/questinaire-48.png) left center no-repeat
      &.about
        h2
          background url(../images/icons/flag-48.png) left center no-repeat
        +tablet()
          a
            padding 10px
      +mobile()
        flex(90%)
        margin 10px