
loginFormInputWidth = 422px
labelColor = rgb(165,165,165)

#mainBlock
  input.apiKey
    width 100%
    font-family "Courier New"
    margin-top 5px

/*region login and registration form*/
#loginPage
  mainBlock()
  +tablet()
    flexbox(flex)
    flex-direction(column)
    flex-justify(center)
    flex-align(start)
    box-sizing border-box
    width initial
    margin 20px 0
    h1
      margin 0
  > form
    padding-bottom 12px
    margin 5px 0
    position relative
    overflow auto

    +tablet()
      width 100%
      div 
        flexbox(flex)
        flex-direction(column)
        width 100%
      input.button
        margin-right 2%
      &#frm-loginForm
        flex-direction(column)

    &#frm-registrationForm
      label
        font-size 12px
        color labelColor
        display block
        margin 5px 0 0 0
        padding 0
      +tablet()
        label
          flexbox(flex)
          flex-align(center)
          min-width 75px

    input.text
      display block
      width loginFormInputWidth
      margin 5px 0 2px 0
      +tablet()
        width 100%

    .error
      padding-left 15px
      display block
      box-sizing border-box
      +tablet()
        padding 0

    .small
      font-size 13px
      color labelColor
      position relative
      overflow auto
      margin-bottom 10px
      margin-top 5px
      +tablet()
        flexbox(flex)
        flex-direction(column)
        #frm-loginForm-remember
            margin-right 5px

      label
        float left
        +tablet()
          padding 7px 7px 7px 0
          &[for="frm-loginForm-remember"]
            flexbox(flex)
            flex-direction(row)
            flex-align(center)

      a
        display inline-block
        float right
        +tablet()
          padding 7px 7px 7px 0

    .actions
      text-align center
      margin 15px 0 0 0
      +tablet()
        flexbox(flex)
        flex-justify(center)
        flex-direction(row)
        .extButton
          flexbox(flex)
          flex-justify(center)
          flex-align(center)
        a.button
          flexbox(flex)
          flex-align(center)

      input.button
        display inline-block
        width 200px
        +tablet()
          width 50%

  div.otherLogins
    border-top invisButtonBorder
    padding-top 10px
    +tablet()
      flex-align(center)
      width 100%

    a
      display block
      margin 5px auto
      width 180px
      padding-left 50px
      text-align left
      &.facebookLogin
        background url('../images/facebookIcon.png') 5px center no-repeat buttonBackground
        &:hover
          background url('../images/facebookIcon.png') 5px center no-repeat buttonHoverBackground
      &.googleLogin
        background url('../images/googleIcon.png') 5px center no-repeat buttonBackground
        &:hover
          background url('../images/googleIcon.png') 5px center no-repeat buttonHoverBackground
/*endregion login and registration form*/

