@import url(http://fonts.googleapis.com/css?family=Droid\+Sans:400,700);
@import url('screen.css')

//impot basic styles
@import '_boilerplate.styl'
@import '_boilerplate2.styl'

//import basic shared styles
@import '../../submodules/EasyMiner-MiningUI/web/css.stylus/_mixins.styl'

//constants
iframeBackgroundColor = white

//import project specific styles
@import '_header.styl'
@import '_footer.styl'

@import '_errorPage.styl'
@import '_overlay.styl'
@import '_preprocessing.styl'
@import '_user.styl'

html
  min-height 100%
  position relative

body
  background transparent url("../images/bg-body.jpg") center repeat
  font-family font
  font-size baseFontSize
  overflow-y scroll
  margin 0 0 footerHeight 0
  min-width minContentWidth2