@import url(http://fonts.googleapis.com/css?family=Droid\+Sans:400,700);

//impot basic styles
@import '_boilerplate.styl'
@import 'flexbox.styl'

//import basic shared styles
@import '../../submodules/EasyMiner-MiningUI/web/css.stylus/_mixins.styl'
@import '_mixinsEMC.styl'

//import project specific styles
@import '_body.styl'
@import '_header.styl'
@import '_footer.styl'
@import '_forms.styl'
@import '_flashMessages.styl'

@import '_errorPage.styl'
@import '_overlay.styl'
@import '_preprocessing.styl'
@import '_user.styl'
@import '_data.styl'

