{block scripts}
  {foreach $javascriptFiles as $file}
    <script type="text/javascript" src="{$basePath}/_miningUI/{$file}" ></script>
  {/foreach}
  {foreach $javascriptFilesHelp as $file}
    <script type="text/javascript" src="{$basePath}/_help/{$file}" ></script>
  {/foreach}
{/block}

{block head}
  {foreach $cssFiles as $file}
    <link rel="stylesheet" media="screen,projection,tv" type="text/css" href="{$basePath}/_miningUI/{$file}" />
  {/foreach}
  {foreach $cssFilesHelp as $file}
    <link rel="stylesheet" media="screen,projection,tv" type="text/css" href="{$basePath}/_help/{$file}" />
  {/foreach}

  <meta http-equiv="Cache-Control" content="no-cache" />
{/block}

{block headerLinks}
  {include parent}
  <a href="#" onclick="helpRun();" title="{_'Help'}"></a>
  <a href="{plink Data:newMiner}" title="{_'New miner...'}"></a>
{/block}

{block main}
  <main id="IZIMiner" class="clearfix"></main>
{/block}