{capture $mail->subject}{_'Forgotten password renewal'}{/capture}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{_'Forgotten password renewal'}</title>
</head>
<body>
  {_'Dear user,'}<br />
  {_'please use the following link for restoring of your forgotten password in EasyMiner application:'}<br /><br />
  <a href="{plink //:EasyMiner:User:forgottenPassword id=>$userForgottenPassword->userForgottenPasswordId,user=>$userForgottenPassword->user->userId,code=>$userForgottenPassword->getCode()}">{plink //:EasyMiner:User:forgottenPassword id=>$userForgottenPassword->userForgottenPasswordId,user=>$userForgottenPassword->user->userId,code=>$userForgottenPassword->getCode()}</a><br /><br />
  {_'The link will be valid for next 48 hours.'}
</body>
</html>