{* View for upload form *}

{block content}

  <div id="mainBlock">
    <h1>{_'Upload dataset'}</h1>
    <p>
      {_'You can upload a CSV file, or a ZIP archive with any CSV files.'}
      {if !empty($maxUploadSize)}
        {_'Maximum upload size is:'} {$maxUploadSize|bytes}
      {/if}
    </p>

    {control uploadForm}
  </div>

