{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset #title}{include title|striptags} :: {/ifset}EasyMiner</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/index.css">

	<link rel="icon" type="image/png" href="{$basePath}/images/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="{$basePath}/images/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/x-icon" href="{$basePath}/images/favicon.ico" sizes="16x16" />

	{block scripts}
    <script src="{$basePath}/js/jquery.js"></script>
  	<script src="{$basePath}/js/netteForms.js"></script>
  	<script src="{$basePath}/js/main.js"></script>
  {/block}
  {block head}{/block}
  <script> document.documentElement.className+=' js' </script>
</head>
<body>
  <header>
    <div class="content">
      <h1 class="typeR">
        EasyMiner<sup>{@$version}</sup>
        <span>easy association rule mining</span>
      </h1>

      <div class="headerLinks">
        {block headerLinks}
          {if ($user->loggedIn)}
            <a href="{link User:details}" id="headerUserLink" class="user">
              <span class="img">{if !empty($user->identity->imageUrl)}<img src="{$basePath}{$user->identity->imageUrl}" alt="{$user->identity->name}" />{/if}</span>
              <span class="name">{$user->identity->name}</span>
            </a>
          {else}
            <a href="{link User:login}" class="user">
              <span class="img"></span>
              <span class="name">{_'Login...'}</span>
            </a>
          {/if}

          <a id="headerAppsLink" href="#">{_'Menu'}</a>
          {if @$includeHelp}
            <a class="help" href="#" onclick="helpRun();">{_'Help'}</a>
          {/if}
        {/block}
      </div>
    </div>
    {*region headerMenus*}
    {if ($user->loggedIn)}
      <div id="headerUserMenu" class="headerMenu">
        <span class="img" onclick="location.href={link User:details};">{if !empty($user->identity->imageUrl)}<img src="{$basePath}{$user->identity->imageUrl}" alt="{$user->identity->name}" />{/if}</span>
        <div class="name">{$user->identity->name}</div>
        <div>{$user->identity->email}</div>
        <div><a href="{link User:details}">{_'Show my profile'}</a></div>
        <div class="actions"><a href="{link User:logout}">{_'Logout...'}</a></div>
      </div>
    {/if}
    <div id="headerAppsMenu" class="headerMenu">
      {block headerAppsMenu}
        <a class="newMiner" href="{plink Data:newMiner}" title="{_'Create new miner or open existing one...'}">{_'Miners'}</a>
        <a class="newFile disabled" href="#" onclick="return false;">{_'CMS'}</a>
      {/block}
    </div>
    {*endregion headerMenus*}
  </header>

  {block main}
    <main>
      <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
      {include content}
    </main>
  {/block}

  <footer>

  </footer>
</body>
</html>
