{block content}

  <div id="preprocessingPage">

    <h1>{_'New attribute from: '}{$datasourceColumn->name}</h1>
    <h2>{$preprocessing->name}</h2>
    <p class="preprocessingInfo">{_'This preprocessing created attribute with separate values from the original data field.'}</p>
    {control newAttributeForm}

  </div>

{/block}


