{**
 * Template for AttributesPresenter
 * @author Stanislav Vojíř
 * @license http://www.apache.org/licenses/LICENSE-2.0 Apache License, Version 2.0
 *}
{block content}

  <div id="preprocessingPage">

    <h1>{_'New attribute from: '}{$datasourceColumn->name}</h1>
    <h2>{$preprocessing->name}</h2>
    <p class="preprocessingInfo">{_'This preprocessing created attribute with separate values from the original data field.'}</p>
    {control newAttributeForm}

  </div>

{/block}


