{block content}

  <div class="{if $template=='default'}block centerContent{else}main{/if}">

    <h1>{_'New preprocessing - Intervals enumeration'}</h1>
    <p class="preprocessingInfo">{_'Define groups of intervals, which should be created in attribute.'}</p>

    {control newIntervalEnumerationForm}

  </div>

{/block}


