{**
 * Template for AttributesPresenter
 * @author Stanislav Vojíř
 * @license http://www.apache.org/licenses/LICENSE-2.0 Apache License, Version 2.0
 *}
{block content}

 <script type="text/javascript">parent.reload();</script>

{/block}


