{**
 * Template for ErrorPresenter
 * @author Stanislav Vojíř
 * @license http://www.apache.org/licenses/LICENSE-2.0 Apache License, Version 2.0
 *}
{block content}
  <div id="errorPage">
    <h1 n:inner-block=title>Method Not Allowed</h1>
    <p>The requested method is not allowed for the URL.</p>
    <div class="errorCode">405</div>
  </div>
