article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
main {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #2bb0d7;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #2bb0d7;
  color: #fff;
  text-shadow: none;
}
a {
  color: #126499;
  text-decoration: none;
}
a:hover {
  color: #06e;
  text-decoration: underline;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td {
  vertical-align: top;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.ir br {
  display: none;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
@media print {
  * {
    background: transparent !important;
    box-shadow: 0 0 0 0 #fff;
    -webkit-box-shadow: 0 0 0 0 #fff;
    -moz-box-shadow: 0 0 0 0 #fff;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
html {
  min-height: 100%;
  position: relative;
}
html.js .jshidden {
  display: none;
}
body {
  background: #2d83be url("../images/bg-body.jpg") center repeat;
  font-family: 'Arial', /*'Droid Sans',*/ 'sans-serif';
  font-size: 16px;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  min-width: 1335px;
}
body.iframe {
  background: #fff;
  min-width: 400.5px;
}
body > main {
  width: 1335px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 44px;
  padding: 0;
}
body > main#IZIMiner {
  position: inherit;
}
body > main #mainBlock {
  color: #434343;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  padding: 20px;
  margin: 10px 10px 10px 0;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin: 10px auto;
}
body > main #mainBlock > h1,
body > main #mainBlock > h2 {
  margin-top: 0;
}
body #ajax-spinner {
  margin: 15px 0 0 15px;
  padding: 13px;
  background: transparent url("../images/icons/icon-loading-bw-20.gif") no-repeat 50% 50%;
  font-size: 0;
  z-index: 123456;
  display: none;
}
h1 {
  color: #925213;
  font-size: 36px;
  font-weight: normal;
  margin: 10px 0 10px 0;
  padding: 0;
}
h2 {
  color: #314e64;
  font-size: 28px;
  font-weight: normal;
}
h3 {
  color: #487113;
  font-size: 19px;
  font-weight: normal;
}
.smallBlock {
  color: #434343;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  padding: 20px;
  margin: 10px 10px 10px 0;
  width: 450px;
}
.smallBlock > h1,
.smallBlock > h2 {
  margin-top: 0;
}
.block {
  color: #434343;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  padding: 20px;
  margin: 10px 10px 10px 0;
}
.block > h1,
.block > h2 {
  margin-top: 0;
}
a.button {
  background: #075783;
  font-size: 14px;
  font-family: 'Arial', /*'Droid Sans',*/ 'sans-serif';
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  border: 1px solid #314e64;
  text-align: center;
  display: inline-block;
  padding: 8px 13px;
}
a.button:hover,
a.button:focus {
  background: #2d83be;
  color: #fff;
  border: 1px solid #314e64;
  text-decoration: none;
}
a.extButton {
  background: #075783;
  font-size: 14px;
  font-family: 'Arial', /*'Droid Sans',*/ 'sans-serif';
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  border: 1px solid #314e64;
  text-align: center;
  display: inline-block;
  padding: 8px 13px;
  background: #fff;
  color: #075783;
  border: 1px solid #ededed;
  text-align: center;
}
a.extButton:hover,
a.extButton:focus {
  background: #2d83be;
  color: #fff;
  border: 1px solid #314e64;
  text-decoration: none;
}
a.extButton:hover,
a.extButton:focus {
  background: #fff;
  color: #2d83be;
  border: 1px solid #2d83be;
}
div.actions a,
div.buttons a {
  background: #075783;
  font-size: 14px;
  font-family: 'Arial', /*'Droid Sans',*/ 'sans-serif';
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  border: 1px solid #314e64;
  text-align: center;
  display: inline-block;
  padding: 8px 13px;
}
div.actions a:hover,
div.buttons a:hover,
div.actions a:focus,
div.buttons a:focus {
  background: #2d83be;
  color: #fff;
  border: 1px solid #314e64;
  text-decoration: none;
}
div.bigButtons a {
  background: #075783;
  font-size: 14px;
  font-family: 'Arial', /*'Droid Sans',*/ 'sans-serif';
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  border: 1px solid #314e64;
  text-align: center;
  display: inline-block;
  padding: 8px 13px;
  padding: 12px 15px;
  text-align: left;
  display: block;
  margin: 5px auto;
}
div.bigButtons a:hover,
div.bigButtons a:focus {
  background: #2d83be;
  color: #fff;
  border: 1px solid #314e64;
  text-decoration: none;
}
body > header {
  background: url("../images/bg-header.png") repeat-x scroll bottom #075783;
  height: 100px;
  min-width: 100%;
  font-family: 'Arial', /*'Droid Sans',*/ 'sans-serif';
  font-size: 16px;
}
body > header div.content {
  height: 100px;
  width: 1335px;
  margin: 0 auto;
  position: relative;
}
body > header div.content h1 {
  color: #fff;
  font-family: "Times New Roman", Times, serif;
  font-size: 48px;
  font-weight: normal;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  padding-top: 9px;
  position: absolute;
  left: 20px;
  top: 0;
  cursor: pointer;
/*SPECIAL TYPES OF H1*/
}
body > header div.content h1 span {
  display: block;
  font-size: 17px;
  letter-spacing: 1px;
  position: relative;
  top: -12px;
}
body > header div.content h1 sup {
  color: #9de045;
  font-size: 0.6em;
  letter-spacing: normal;
  margin-left: 10px;
  position: relative;
}
body > header div.content h1.typeR {
  padding-right: 86px;
  background: transparent url("../images/logo-r.png") right 0 no-repeat;
}
body > header div.content h1.typeLM {
  padding-right: 200px;
  background: transparent url("../images/logo-lm.png") right 32px no-repeat;
}
body > header div.content div#applicationSubTitle {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 14px;
  left: 0;
  color: #fff;
  max-height: 60px;
  overflow-y: hidden;
}
body > header div.content div.headerLinks {
  position: absolute;
  top: 20px;
  right: 20px;
  font-weight: bold;
  color: #cee7f7;
}
body > header div.content div.headerLinks a {
  color: #fff;
  text-decoration: none;
}
body > header div.content div.headerLinks a.user {
  display: block;
  float: right;
  margin-left: 10px;
  text-align: center;
}
body > header div.content div.headerLinks a.user .img {
  display: block;
  background: url("../images/icons/user-48.png") center center no-repeat;
  width: 48px;
  height: 48px;
  margin: 0 auto;
}
body > header div.content div.headerLinks a.user .img img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
  border: 1px solid #075783;
}
body > header div.content div.headerLinks a.user .name {
  margin-top: 5px;
  font-size: 10px;
}
body > header div.content div.headerLinks a.user:hover .img img,
body > header div.content div.headerLinks a.user.active .img img {
  border-color: #fff;
}
body > header div.content div.headerLinks a.help {
  display: block;
  float: right;
  text-align: center;
  width: 48px;
  padding-top: 54px;
  padding-bottom: 2px;
  margin: 0 12px;
  font-size: 10px;
  background-position: center 2px;
  background-repeat: no-repeat;
  opacity: 0.7;
  color: transparent;
  background-image: url("../images/icons/help-48.png");
}
body > header div.content div.headerLinks a.help:hover,
body > header div.content div.headerLinks a.help.active {
  color: #fff;
  opacity: 1;
}
body > header div.content div.headerLinks a.help.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
body > header div.content div.headerLinks a#headerAppsLink {
  display: block;
  float: right;
  text-align: center;
  width: 48px;
  padding-top: 54px;
  padding-bottom: 2px;
  margin: 0 12px;
  font-size: 10px;
  background-position: center 2px;
  background-repeat: no-repeat;
  opacity: 0.7;
  color: transparent;
  background-image: url("../images/icons/apps-48.png");
}
body > header div.content div.headerLinks a#headerAppsLink:hover,
body > header div.content div.headerLinks a#headerAppsLink.active {
  color: #fff;
  opacity: 1;
}
body > header div.content div.headerLinks a#headerAppsLink.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
body > header .headerMenu {
  background: #fff;
  position: absolute;
  display: none;
  z-index: 100;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
}
body > header .headerMenu div.menuLinkArrow {
  width: 0 !important;
  border-color: transparent transparent #fff;
  border-style: dashed dashed solid;
  border-width: 0 7px 7px;
  position: absolute;
  padding: 0 !important;
  min-width: 0 !important;
  max-width: 0 !important;
  top: -7px;
}
body > header .headerMenu#headerUserMenu .img {
  margin: 10px;
  display: block;
  float: left;
  border: none;
  width: 100px;
  height: 100px;
  overflow: hidden;
  cursor: pointer;
}
body > header .headerMenu#headerUserMenu .img img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}
body > header .headerMenu#headerUserMenu div {
  font-weight: normal;
  font-size: 80%;
  min-width: 200px;
  padding-left: 100px;
  padding-right: 10px;
  padding-top: 0;
}
body > header .headerMenu#headerUserMenu div.name {
  font-weight: bold;
  font-size: 100%;
  min-width: 200px;
  padding-top: 10px;
}
body > header .headerMenu#headerUserMenu div.actions {
  padding-top: 10px;
  padding-bottom: 10px;
}
body > header .headerMenu#headerUserMenu div.actions a {
  background: #075783;
  font-size: 14px;
  font-family: 'Arial', /*'Droid Sans',*/ 'sans-serif';
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  border: 1px solid #314e64;
  text-align: center;
  display: inline-block;
  padding: 8px 13px;
  font-size: 14.4px;
}
body > header .headerMenu#headerUserMenu div.actions a:hover,
body > header .headerMenu#headerUserMenu div.actions a:focus {
  background: #2d83be;
  color: #fff;
  border: 1px solid #314e64;
  text-decoration: none;
}
body > header .headerMenu#headerAppsMenu {
  padding: 10px;
  max-width: 240px;
}
body > header .headerMenu#headerAppsMenu a.newMiner {
  display: block;
  float: left;
  text-align: center;
  width: 48px;
  border: 1px solid #fff;
  padding: 54px 10px 4px 10px;
  margin: 5px;
  font-size: 10px;
  background-position: center 2px;
  background-repeat: no-repeat;
  opacity: 0.9;
  color: #000;
  text-decoration: none;
  background-image: url("../images/icons/new-miner-48.png");
}
body > header .headerMenu#headerAppsMenu a.newMiner:hover,
body > header .headerMenu#headerAppsMenu a.newMiner.active {
  opacity: 1;
  text-decoration: none;
  border: 1px solid #075783;
}
body > header .headerMenu#headerAppsMenu a.newMiner.disabled {
  opacity: 0.4 !important;
  cursor: not-allowed;
}
body > header .headerMenu#headerAppsMenu a.newFile {
  display: block;
  float: left;
  text-align: center;
  width: 48px;
  border: 1px solid #fff;
  padding: 54px 10px 4px 10px;
  margin: 5px;
  font-size: 10px;
  background-position: center 2px;
  background-repeat: no-repeat;
  opacity: 0.9;
  color: #000;
  text-decoration: none;
  background-image: url("../images/icons/new-file-48.png");
}
body > header .headerMenu#headerAppsMenu a.newFile:hover,
body > header .headerMenu#headerAppsMenu a.newFile.active {
  opacity: 1;
  text-decoration: none;
  border: 1px solid #075783;
}
body > header .headerMenu#headerAppsMenu a.newFile.disabled {
  opacity: 0.4 !important;
  cursor: not-allowed;
}
body > footer {
  border-top: 1px solid #075783;
  background: #075783;
  background: rgba(7,87,131,0.4);
  color: #e1e1ff;
  text-align: center;
  font-size: 14px;
  padding: 0;
  margin: 0;
  min-width: 1335px;
  height: 34px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
body > footer div.content {
  height: 20px;
  padding: 7px 0;
  width: 1335px;
  margin: 0 auto;
  position: relative;
  font-size: 11px;
  text-align: left;
}
body > footer div.content .disclaimer {
  padding-left: 20px;
  float: left;
}
body > footer div.content .copyright {
  padding-right: 20px;
  float: right;
}
body > footer div.content a {
  font-size: 11px;
  color: #e1e1ff;
}
body > footer div.content a:hover {
  color: #fff;
}
form input,
form select {
  box-sizing: border-box;
  padding: 11px 13px;
  font-family: 'Arial', /*'Droid Sans',*/ 'sans-serif';
  font-size: 15px;
  border: 1px solid #ebebeb;
  width: 280px;
  line-height: 21px;
}
form input:hover,
form select:hover,
form input:focus,
form select:focus,
form input:active,
form select:active {
  border: 1px solid #2d83be;
}
form input.has-error,
form select.has-error {
  border-color: #d01d1d !important;
}
form input.noBorder,
form select.noBorder {
  border: none !important;
}
form input[type="checkbox"],
form select[type="checkbox"] {
  width: auto;
}
form input[size="1"],
form input[size="2"] {
  width: 70px !important;
}
input.button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  background: #075783;
  font-size: 14px;
  font-family: 'Arial', /*'Droid Sans',*/ 'sans-serif';
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  border: 1px solid #314e64;
  text-align: center;
  display: inline-block;
  padding: 8px 13px;
  width: auto;
  padding: 11px 13px;
}
input.button:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input.button:focus,
input[type="submit"]:focus,
input[type="button"]:focus,
input[type="reset"]:focus {
  background: #2d83be;
  color: #fff;
  border: 1px solid #314e64;
  text-decoration: none;
}
th[colspan] input.button,
th[colspan] input[type="submit"],
th[colspan] input[type="button"],
th[colspan] input[type="reset"] {
  margin-top: 10px;
}
.error,
.error-message {
  display: block;
  padding: 3px 5px 5px 13px;
  color: #d01d1d;
  font-size: 85%;
}
th {
  vertical-align: top;
  font-weight: normal;
  text-align: right;
}
th > label {
  padding: 11px 13px 0 8px;
  line-height: 21px;
  display: block;
}
td {
  vertical-align: top;
  font-weight: normal;
}
div.flash {
  color: #000;
  background: #fff9d7;
  border: 1px solid #e2c822;
  padding: 1em;
  margin: 1em 0;
}
#errorPage {
  display: block;
  margin: 0 auto;
  width: 70%;
  position: relative;
  padding-top: 70px;
}
#errorPage h1,
#errorPage p {
  position: relative;
  color: #fff;
  text-shadow: 2px 2px 10px #d01d1d;
  width: 80%;
}
#errorPage .errorCode {
  position: absolute;
  right: 0;
  top: 80px;
  padding: 0;
  margin: 0;
  font-size: 300px;
  line-height: 300px;
  color: #1d71a6;
  z-index: -1;
  opacity: 0.4;
}
div#loadingOverlay {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background-position: center 40%;
  background-repeat: no-repeat;
  background-color: #000;
  background-color: rgba(0,0,0,0.7);
  background-image: url("../images/icons/icon-loading-wg-72.gif");
}
body.iframe div#loadingOverlay {
  background-color: rgba(255,255,255,0.8);
  background-image: url("../images/icons/icon-loading-bw-72.gif");
}
body.slowLoading div#loadingOverlay {
  display: block;
}
div.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  background-color: rgba(0,0,0,0.5);
}
div.modal,
section.modal {
  background: #fff;
  z-index: 102;
  color: #000;
  border: none;
  padding: 30px;
  text-align: left;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
div#preprocessingPage .valuesBin {
  border: 1px solid #2d83be;
  margin: 20px 0;
  padding: 20px;
  position: relative;
}
div#preprocessingPage .valuesBin label {
  width: 100px;
  display: inline-block;
}
div#preprocessingPage .valuesBin > input[type='text'] {
  width: 300px;
}
div#preprocessingPage .valuesBin .removeBin {
  float: right;
  background: #fff;
  border: 1px solid #ededed;
  color: #800000;
}
div#preprocessingPage .valuesBin .removeBin:hover,
div#preprocessingPage .valuesBin .removeBin:focus,
div#preprocessingPage .valuesBin .removeBin:active {
  border-color: #800000;
  background: #800000;
  color: #fff;
}
div#preprocessingPage .valuesBin .addInterval,
div#preprocessingPage .valuesBin .addValue {
  margin-top: 20px;
}
div#preprocessingPage .valuesBin .addInterval table,
div#preprocessingPage .valuesBin .addValue table {
  border-spacing: 0;
}
div#preprocessingPage .valuesBin .addInterval table label,
div#preprocessingPage .valuesBin .addValue table label {
  padding-top: 10px;
}
div#preprocessingPage .valuesBin .addInterval table select,
div#preprocessingPage .valuesBin .addValue table select {
  width: 60px;
}
div#preprocessingPage .valuesBin .addInterval table input[type='text'],
div#preprocessingPage .valuesBin .addValue table input[type='text'] {
  width: 67px;
}
div#preprocessingPage .valuesBin form input {
  margin: 0;
}
div#preprocessingPage .valuesBin .intervals,
div#preprocessingPage .valuesBin .values {
  margin: 20px 0;
}
div#preprocessingPage .valuesBin .intervals .interval,
div#preprocessingPage .valuesBin .values .interval,
div#preprocessingPage .valuesBin .intervals .value,
div#preprocessingPage .valuesBin .values .value {
  border: 1px solid #075783;
  display: inline-block;
}
div#preprocessingPage .valuesBin .intervals .interval input[type='text'],
div#preprocessingPage .valuesBin .values .interval input[type='text'],
div#preprocessingPage .valuesBin .intervals .value input[type='text'],
div#preprocessingPage .valuesBin .values .value input[type='text'] {
  display: none;
}
div#preprocessingPage .valuesBin .intervals .interval input[type='submit'],
div#preprocessingPage .valuesBin .values .interval input[type='submit'],
div#preprocessingPage .valuesBin .intervals .value input[type='submit'],
div#preprocessingPage .valuesBin .values .value input[type='submit'] {
  background: #fff;
  border: none;
  color: #800000;
  padding: 10px;
}
div#preprocessingPage .valuesBin .intervals .interval input[type='submit']:hover,
div#preprocessingPage .valuesBin .values .interval input[type='submit']:hover,
div#preprocessingPage .valuesBin .intervals .value input[type='submit']:hover,
div#preprocessingPage .valuesBin .values .value input[type='submit']:hover {
  background: #800000;
  color: #fff;
}
div#preprocessingPage .valuesBin .intervals .interval strong,
div#preprocessingPage .valuesBin .values .interval strong,
div#preprocessingPage .valuesBin .intervals .value strong,
div#preprocessingPage .valuesBin .values .value strong {
  display: inline-block;
  margin-left: 20px;
  margin-right: 5px;
}
div#preprocessingPage .valuesBin.show {
  padding: 0 20px;
}
div#preprocessingPage .valuesBin.show .value,
div#preprocessingPage .valuesBin.show .interval {
  display: inline-block;
  padding: 5px 10px;
  font-weight: bold;
}
div#preprocessingPage div.formatValues {
  margin: 10px 0;
  padding: 10px;
  color: #808080;
  border: 1px solid #ededed;
}
div#preprocessingPage .formatValues span {
  display: inline-block;
  margin: 2px;
  padding: 0 5px;
  text-align: center;
  border-right: 1px solid #ededed;
}
div#preprocessingPage .formatValues span:last-child {
  border-right: none;
}
div#preprocessingPage table.attributesListTable {
  background: #fff;
  color: #434343;
  border-spacing: 0;
  margin: 20px 0;
  width: 100%;
}
div#preprocessingPage table.attributesListTable tr:first-child th {
  border-top: 1px solid #075783;
}
div#preprocessingPage table.attributesListTable th {
  padding: 5px 8px;
  background: #075783;
  color: #fff;
  text-align: left;
  border: 1px solid #075783;
  border-left: none;
  border-top: none;
}
div#preprocessingPage table.attributesListTable th:first-child {
  border: 1px solid #075783;
}
div#preprocessingPage table.attributesListTable th.empty {
  background: #fff;
}
div#preprocessingPage table.attributesListTable th.empty:first-child {
  border-left: none;
  border-top: none;
}
div#preprocessingPage table.attributesListTable td {
  padding: 5px 8px;
  text-align: left;
  border-bottom: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-top: none;
}
div#preprocessingPage table.attributesListTable td:first-child {
  border-left: 1px solid #ebebeb;
}
div#preprocessingPage table.attributesListTable tr:nth-child(even) {
  background: #fcfbff;
}
#loginPage {
  color: #434343;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  padding: 20px;
  margin: 10px 10px 10px 0;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin: 10px auto;
}
#loginPage > h1,
#loginPage > h2 {
  margin-top: 0;
}
#loginPage > form {
  padding-bottom: 12px;
  margin: 5px 0;
  position: relative;
  overflow: auto;
}
#loginPage > form#frm-registrationForm label {
  font-size: 12px;
  color: #a5a5a5;
  display: block;
  margin: 5px 0 0 0;
  padding: 0;
}
#loginPage > form input.text {
  display: block;
  width: 422px;
  margin: 5px 0 2px 0;
}
#loginPage > form .error {
  padding-left: 15px;
  display: block;
}
#loginPage > form .small {
  font-size: 13px;
  color: #a5a5a5;
  position: relative;
  overflow: auto;
  margin-bottom: 10px;
  margin-top: 5px;
}
#loginPage > form .small label {
  float: left;
}
#loginPage > form .small a {
  display: inline-block;
  float: right;
}
#loginPage > form .actions {
  text-align: center;
  margin: 15px 0 0 0;
}
#loginPage > form .actions input.button {
  display: inline-block;
  width: 200px;
}
#loginPage div.otherLogins {
  border-top: 1px solid #ededed;
  padding-top: 10px;
}
#loginPage div.otherLogins a {
  display: block;
  margin: 5px auto;
  width: 180px;
  padding-left: 50px;
  text-align: left;
}
#loginPage div.otherLogins a.facebookLogin {
  background: url("../images/facebookIcon.png") 5px center no-repeat #075783;
}
#loginPage div.otherLogins a.facebookLogin:hover {
  background: url("../images/facebookIcon.png") 5px center no-repeat #2d83be;
}
#loginPage div.otherLogins a.googleLogin {
  background: url("../images/googleIcon.png") 5px center no-repeat #075783;
}
#loginPage div.otherLogins a.googleLogin:hover {
  background: url("../images/googleIcon.png") 5px center no-repeat #2d83be;
}
#uploadFormBlock {
  color: #434343;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  padding: 20px;
  margin: 10px 10px 10px 0;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin: 10px auto;
}
#uploadFormBlock > h1,
#uploadFormBlock > h2 {
  margin-top: 0;
}
#uploadConfigBlock {
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: -ms-flexbox /* TWEENER - IE 10 */;
  display: -webkit-flex /* NEW - Chrome */;
  display: flex /* NEW, Spec - Opera 12.1, Firefox 20+ */;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
#uploadConfigBlock > .form {
  color: #434343;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  padding: 20px;
  margin: 10px 10px 10px 0;
  background: #fff;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
#uploadConfigBlock > .form > h1,
#uploadConfigBlock > .form > h2 {
  margin-top: 0;
}
#uploadConfigBlock > .form input,
#uploadConfigBlock > .form select {
  width: 196px;
}
#uploadConfigBlock #uploadConfigPreviewBlock {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  color: #434343;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  padding: 20px;
  margin: 10px 10px 10px 0;
}
#uploadConfigBlock #uploadConfigPreviewBlock > h1,
#uploadConfigBlock #uploadConfigPreviewBlock > h2 {
  margin-top: 0;
}
#uploadConfigBlock #uploadConfigPreviewBlock > table {
  background: #fff;
  color: #434343;
  border-spacing: 0;
  margin: 20px 0;
  margin: 0;
}
#uploadConfigBlock #uploadConfigPreviewBlock > table tr:first-child th {
  border-top: 1px solid #075783;
}
#uploadConfigBlock #uploadConfigPreviewBlock > table th {
  padding: 5px 8px;
  background: #075783;
  color: #fff;
  text-align: left;
  border: 1px solid #075783;
  border-left: none;
  border-top: none;
}
#uploadConfigBlock #uploadConfigPreviewBlock > table th:first-child {
  border: 1px solid #075783;
}
#uploadConfigBlock #uploadConfigPreviewBlock > table th.empty {
  background: #fff;
}
#uploadConfigBlock #uploadConfigPreviewBlock > table th.empty:first-child {
  border-left: none;
  border-top: none;
}
#uploadConfigBlock #uploadConfigPreviewBlock > table td {
  padding: 5px 8px;
  text-align: left;
  border-bottom: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-top: none;
}
#uploadConfigBlock #uploadConfigPreviewBlock > table td:first-child {
  border-left: 1px solid #ebebeb;
}
#uploadConfigBlock #uploadConfigPreviewBlock > table tr:nth-child(even) {
  background: #fcfbff;
}
#uploadColumnsBlock {
  color: #434343;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  padding: 20px;
  margin: 10px 10px 10px 0;
}
#uploadColumnsBlock > h1,
#uploadColumnsBlock > h2 {
  margin-top: 0;
}
#uploadColumnsBlock #uploadColumnsListBlock > table {
  background: #fff;
  color: #434343;
  border-spacing: 0;
  margin: 20px 0;
  width: 100%;
  table-layout: fixed;
  border-spacing: collapse;
}
#uploadColumnsBlock #uploadColumnsListBlock > table tr:first-child th {
  border-top: 1px solid #075783;
}
#uploadColumnsBlock #uploadColumnsListBlock > table th {
  padding: 5px 8px;
  background: #075783;
  color: #fff;
  text-align: left;
  border: 1px solid #075783;
  border-left: none;
  border-top: none;
}
#uploadColumnsBlock #uploadColumnsListBlock > table th:first-child {
  border: 1px solid #075783;
}
#uploadColumnsBlock #uploadColumnsListBlock > table th.empty {
  background: #fff;
}
#uploadColumnsBlock #uploadColumnsListBlock > table th.empty:first-child {
  border-left: none;
  border-top: none;
}
#uploadColumnsBlock #uploadColumnsListBlock > table td {
  padding: 5px 8px;
  text-align: left;
  border-bottom: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-top: none;
}
#uploadColumnsBlock #uploadColumnsListBlock > table td:first-child {
  border-left: 1px solid #ebebeb;
}
#uploadColumnsBlock #uploadColumnsListBlock > table tr:nth-child(even) {
  background: #fcfbff;
}
#uploadColumnsBlock #uploadColumnsListBlock > table tr:first-child th:nth-child(1) {
  width: 280px;
}
#uploadColumnsBlock #uploadColumnsListBlock > table tr:first-child th:nth-child(2) {
  width: 168px;
}
#uploadColumnsBlock #uploadColumnsListBlock > table td:nth-child(1) {
  width: 280px;
}
#uploadColumnsBlock #uploadColumnsListBlock > table td:nth-child(2) {
  width: 168px;
}
#uploadColumnsBlock #uploadColumnsListBlock > table td:nth-child(2) select {
  width: 100%;
}
#uploadColumnsBlock #uploadColumnsListBlock > table td.values div {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#uploadColumnsBlock #uploadColumnsListBlock > table td.values span {
  display: inline-block;
  padding: 8px 10px;
  border: 1px solid #f0f0f0;
  background: #fff;
  margin: 2px;
}
#uploadProgressBlock {
  color: #434343;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  padding: 20px;
  margin: 10px 10px 10px 0;
  padding-bottom: 120px;
  background: #fff url("../images/icons/icon-loading-bw-72.gif") no-repeat bottom 20px center;
}
#uploadProgressBlock > h1,
#uploadProgressBlock > h2 {
  margin-top: 0;
}
#uploadProgressBlock .progressBar {
  height: 2em;
  position: relative;
  border: 1px solid #d3d3d3;
  width: 100%;
  margin: 10px 0 5px 0;
  padding: 3px 5px;
}
#uploadProgressBlock .progressBar .bg {
  background: #d3d3d3;
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 2em;
  z-index: 1;
}
#uploadProgressBlock .progressBar div {
  position: relative;
  z-index: 2;
}
#backgroundTaskBlock {
  padding-bottom: 100px;
  background: transparent url("../images/icons/icon-loading-bw-72.gif") no-repeat bottom center;
}
#backgroundTaskBlock.fullscreen {
  color: #434343;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  padding: 20px;
  margin: 10px 10px 10px 0;
  padding-bottom: 120px;
  background: #fff url("../images/icons/icon-loading-bw-72.gif") no-repeat bottom 20px center;
}
#backgroundTaskBlock.fullscreen > h1,
#backgroundTaskBlock.fullscreen > h2 {
  margin-top: 0;
}
#newMinerPage {
  width: auto;
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: -ms-flexbox /* TWEENER - IE 10 */;
  display: -webkit-flex /* NEW - Chrome */;
  display: flex /* NEW, Spec - Opera 12.1, Firefox 20+ */;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
#newMinerPage > div {
  color: #434343;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  padding: 20px;
  margin: 10px 10px 10px 0;
  width: 450px;
}
#newMinerPage > div > h1,
#newMinerPage > div > h2 {
  margin-top: 0;
}
#newMinerPage > div #existingDataSources {
  display: none;
}
#uploadDataPage {
  width: 1315px;
  padding-left: 10px;
  padding-right: 10px;
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: -ms-flexbox /* TWEENER - IE 10 */;
  display: -webkit-flex /* NEW - Chrome */;
  display: flex /* NEW, Spec - Opera 12.1, Firefox 20+ */;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
#uploadDataPage div.config {
  color: #434343;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  padding: 20px;
  margin: 10px 10px 10px 0;
  width: 450px;
}
#uploadDataPage div.config > h1,
#uploadDataPage div.config > h2 {
  margin-top: 0;
}
#uploadDataPage div.preview {
  color: #434343;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  padding: 20px;
  margin: 10px 10px 10px 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  overflow-y: auto;
  margin-right: 0;
}
#uploadDataPage div.preview > h1,
#uploadDataPage div.preview > h2 {
  margin-top: 0;
}
#uploadDataPage div.preview #dataPreviewLoading {
  background: url("../images/icons/icon-loading-bw-20.gif") left center no-repeat;
  padding-left: 30px;
}
#uploadDataPage div.preview table {
  background: #fff;
  color: #434343;
  border-spacing: 0;
  margin: 20px 0;
}
#uploadDataPage div.preview table tr:first-child th {
  border-top: 1px solid #075783;
}
#uploadDataPage div.preview table th {
  padding: 5px 8px;
  background: #075783;
  color: #fff;
  text-align: left;
  border: 1px solid #075783;
  border-left: none;
  border-top: none;
}
#uploadDataPage div.preview table th:first-child {
  border: 1px solid #075783;
}
#uploadDataPage div.preview table th.empty {
  background: #fff;
}
#uploadDataPage div.preview table th.empty:first-child {
  border-left: none;
  border-top: none;
}
#uploadDataPage div.preview table td {
  padding: 5px 8px;
  text-align: left;
  border-bottom: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-top: none;
}
#uploadDataPage div.preview table td:first-child {
  border-left: 1px solid #ebebeb;
}
#uploadDataPage div.preview table tr:nth-child(even) {
  background: #fcfbff;
}
div#homePage #slogan {
  opacity: 0.8;
  margin: 10px;
  min-height: 80px;
}
div#homePage #slogan > div {
  padding: 20px 10px;
  display: none;
}
div#homePage #slogan > div.visible {
  display: block;
}
div#homePage #slogan > div h2 {
  margin: 0;
  padding: 5px 0;
  color: #fff;
}
div#homePage #slogan > div p {
  margin: 0;
  padding: 0;
  color: #fff;
}
div#homePage #slogan > div > img {
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 30px;
}
div#homePage #actions {
  overflow: auto;
  display: -webkit-box /* OLD - iOS 6-, Safari 3.1-6 */;
  display: -moz-box /* OLD - Firefox 19- (buggy but mostly works) */;
  display: -ms-flexbox /* TWEENER - IE 10 */;
  display: -webkit-flex /* NEW - Chrome */;
  display: flex /* NEW, Spec - Opera 12.1, Firefox 20+ */;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
div#homePage #actions section {
  color: #434343;
  background-color: #fff;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  padding: 20px;
  margin: 10px 10px 10px 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  width: 25%;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
div#homePage #actions section > h1,
div#homePage #actions section > h2 {
  margin-top: 0;
}
div#homePage #actions section h2 {
  padding: 10px 10px 5px 60px;
}
div#homePage #actions section.start {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
div#homePage #actions section.start h2 {
  background: url("../images/icons/plane-48.png") left center no-repeat;
}
div#homePage #actions section.start .actions {
  text-align: center;
}
div#homePage #actions section.start .actions a {
  font-size: 16px;
  padding: 15px 30px;
}
div#homePage #actions section.more h2 {
  background: url("../images/icons/questinaire-48.png") left center no-repeat;
}
div#homePage #actions section.about h2 {
  background: url("../images/icons/flag-48.png") left center no-repeat;
}
