@import url("http://fonts.googleapis.com/css?family=Droid+Sans:400,700");
@import url("http://fonts.googleapis.com/css?family=Average&subset=latin-ext");

body {
	font-size: 15px;
	line-height: 1.6;
	color: #333;
  padding: 0;
  margin: 0;
  font-family: 'Droid Sans', arial, sans-serif;
  background: url('../images/bg-body.jpg') #2D83BE;
}

.center{
  text-align: center;
}
/*region základní styly nette*/

#ajax-spinner {
  margin: 15px 0 0 15px;
  padding: 13px;
  background: white url('../images/spinner.gif') no-repeat 50% 50%;
  font-size: 0;
  z-index: 123456;
  display: none;
}

div.flash {
  color: black;
  background: #FFF9D7;
  border: 1px solid #E2C822;
  padding: 1em;
  margin: 1em 0;
}

a{
  text-decoration: none;
  color: #2d83be;
}
a:hover{
  text-decoration: underline;
  color: #075783;
}
a[href^="#error:"] {
  background: red;
  color: white;
}

form th, form td {
  vertical-align: top;
  font-weight: normal;
  border: 1px solid yellow;
}

form th {
  text-align: right;
}
/*TODO
form .required label {
  font-weight: bold;
}*/

form .error {
  color: #D00;
  /*font-weight: bold;*/
}

html.js .jshidden {
  display: none;
}

/*endregion*/


/*region Základní styly layoutu*/

body > header{
  background: url("../images/bg-header.png") repeat-x scroll 50% 0 #ededed;
  height: 146px;
  width: 100%;
}
body > header h1{
  clear: both;
  color: #fff;
  font-family: "Average", serif;
  font-size: 48px ;
  letter-spacing: 2px;
  /*margin: 0 0 0 80px;
  padding-top: 16px;*/
  margin: 0;
  padding: 0;
  position: absolute;
  left:80px;
  top:42px;
}
body > header h1 sup {
  color: #9de045;
  font-size: 0.6em;
  letter-spacing: normal;
  margin-left: 10px;
  position: relative;
}
body > header h1 span{
  display: block;
  font-size: 19px;
  letter-spacing: normal;
  position: relative;
  top: -21px;
}
body > header div.links{
  position: absolute;
  top: 5px;
  right: 10px;
  font-weight: bold;
  color: rgb(206,231,247);
}
body > header a{
  color: rgb(206,231,247);
  text-decoration: none;
}
body > header a:hover{
  color: white;
  text-decoration: underline;
}
div.centerContent{
  margin: 10px auto;
}
div.block{
  background: white;
  padding: 20px;
  width: auto;
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
}
div.block h1, div.block h2{
  margin-top: 0;
}
/*endregion Základní styly layoutu*/


h1 {
	color: rgb(146,82,19);
  font-size: 36px;
  font-weight: normal;
  margin: 10px 0 10px 0;
  padding: 0;
}

h2{
  color: rgb(49,78,100);
  font-size: 28px;
  font-weight: normal;
}

h3{
  color: rgb(72,113,19);
  font-size: 19px;
}

input.text,
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"]{
  padding: 10px 13px;
  font-family: 'Droid Sans', arial, sans-serif;
  font-size: 15px;
  border: 1px solid rgb(235,235,235);
}

input.text:hover,input.text:focus,input.text:active,
input[type="text"]:hover,input[type="text"]:focus,input[type="text"]:active,
input[type="email"]:hover,input[type="email"]:focus,input[type="email"]:active,
input[type="number"]:hover,input[type="number"]:focus,input[type="number"]:active,
input[type="password"]:hover,input[type="password"]:focus,input[type="password"]:active{
  border: 1px solid #2d83be;
}
form th > label{
  padding: 6px 13px 0 8px;
  border: 1px solid red;
  display: inline-block;
}
input.button,
input[type="submit"],
input[type="button"],
input[type="reset"],
a.button,
a.extButton,
div.actionsDiv a{
  display: inline-block;
  padding: 8px 13px;
  font-family: 'Droid Sans', arial, sans-serif;
  font-size: 14px;
  text-decoration: none;
  background: #075783;
  border: 1px solid rgb(49,78,100);
  color: white;
  cursor: pointer;
}
input.button,
input[type="submit"],
input[type="button"],
input[type="reset"]{
  padding: 10px 13px;
}
a.extButton{
  border: 1px solid rgb(235,235,235);
  color: rgb(165,165,165);
  background: white;
}

input.button:hover,input.button:focus,
input[type="submit"]:hover,input[type="submit"]:focus,
input[type="button"]:hover,input[type="button"]:focus,
input[type="reset"]:hover,input[type="reset"]:focus,
a.button:hover,a.button:focus,
div.actionsDiv a:hover,div.actionsDiv a:focus{
  background:#2d83be;
  color: white;
}
a.extButton:hover,a.extButton:focus{
  border: 1px solid #2d83be;
  color:#2d83be;
}
div.bigButtons a{
  display: block;
  margin: 5px auto;
  padding:12px 15px;
}

/*region login and registration form*/
div.centerContent.loginForm{
  width:452px;
}
form#frm-loginForm input.text,
form#frm-registrationForm input.text{
  display: block;
  width: 422px;
  margin: 5px 0 2px 0;
}

form#frm-registrationForm label{
  font-size: 12px;
  color: rgb(165,165,165);
  display: block;
  margin: 5px 0 0 0;
  padding: 0;
}
form#frm-registrationForm div.errors{
  padding-left: 15px;
  font-size: 13px;
  color: red;
}
form#frm-loginForm{
  border-bottom: 1px solid rgb(235,235,235);
}
form#frm-loginForm,
form#frm-registrationForm{
  margin-bottom: 15px;
  padding-bottom: 12px;
  width: 500px;
}
form#frm-loginForm,
form#frm-registrationForm{
  width:450px;
  margin: 5px 0 10px 0;
  position: relative;
  overflow: auto;
}
form#frm-loginForm .error,
form#frm-registrationForm .error{
  color: red;
  font-weight: bold;
  padding: 5px 8px;
  text-align: center;
}
form#frm-loginForm .small,
form#frm-registrationForm .small{
  font-size: 13px;
  color: rgb(165,165,165);
  position: relative;
  overflow: auto;
  margin-bottom: 10px;
}
form#frm-loginForm .small label,
form#frm-registrationForm .small label{
  float: left;
  width: 300px;
}
form#frm-loginForm .small input,
form#frm-registrationForm .small input{
  border: none !important;
}
form#frm-loginForm .small a,
form#frm-registrationForm .small a{
  display: inline-block;
  float: right;
}
form#frm-loginForm input.button,
form#frm-registrationForm input.button{
  display: inline-block;
  width: 200px;
}
form#frm-loginForm .actions,
form#frm-registrationForm .actions{
  text-align: center;
  margin: 15px 0 5px 0;
}
div.loginFormOtherLogins{
  width:450px;
}
div.loginFormOtherLogins a{
  display: block;
  margin: 5px auto;
}
a.facebookLogin{
  background: url('../images/facebookIcon.png') 5px center no-repeat #075783;
  padding-left: 50px;
  width: 180px;
}
a.googleLogin{
  background: url('../images/googleIcon.png') 5px center no-repeat #075783;
  padding-left: 50px;
  width: 180px;
}
a.facebookLogin:hover{
  background: url('../images/facebookIcon.png') 5px center no-repeat #2d83be;
}
a.googleLogin:hover{
  background: url('../images/googleIcon.png') 5px center no-repeat #2d83be;
}

/*endregion login and registration form*/

/*region newMiner*/
div.newMiner{
  position: relative;
  margin: 0 auto;
  overflow: auto;
  min-width: 500px;
  max-width: 500px;
}
div.newMiner.twoColumns{
  max-width: 1000px;
}
div.newMiner div.block{
  display: block;
  width:450px;
  margin: 10px 5px;
  float: left;
}
/*endregion*/