/* CSS Document */
#metadata { /*zarovnani prvniho sloupce je primo u bunek*/
  font-family                           : Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size                             : 10pt;
  margin                                : 30px 10px 30px 10px;
  }
  #metadata th {
    text-align                          : left;
    }
  #metadata td {
    padding                             : 0px 4px 0px 4px;
    }

.itable {
  font-family                           : Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size                             : 10pt;
  border                                : 1px solid black;
  border-collapse                       : collapse;
  margin-left                           :auto;
  margin-right                          :auto;
  margin-top                            :10px;
  margin-bottom                         :10px;

  }
  .itable th {
    background-color                    : rgb(210,234,241);
    font-weight                         : bold;
    border                              : 1px solid black;
    border-collapse                     : collapse;
    padding                             : 0px 4px 0px 4px;
    }
  .itable td {
    border                              : 1px solid black;
    border-collapse                     : collapse;
    padding                             : 0px 4px 0px 4px;
    }
  .itable caption { /*vertical-align muselo byt naformatovano uz ve stylu, protoze css vlastnost na caption nefunguje*/
    font-family                         : Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size                           : 8pt;
    }

  div.graphUI input[type="text"] {
    width: 40px;
  }

  .dim {
    color: gray;
  }

  .hot {
    color: red;
  }

  .hidden {
    display: none;
  }

  .ajax-loading, .ajax-error {
    display: block;
    background-color: #FFFFFF;
    background-image: url('loader.gif');
    background-repeat: no-repeat;
    background-position: center center;
    height: 20px;
    padding: 10px;
    width: 20px;
  }
  
  .ajax-error {
    background-image: url('warning-icon.png');
  }
  

  p.kbierror {
  	padding: 5px;
  	background-color: darkred;
  	color: white;
  	border: 2px solid black;
  	margin: 10px auto;
  }

  .graphUI label { padding: 1em; }

  @media print {
    .noprint, form, input, #navigation { display: none; }
  }
  /* to by melo resit problem s sablonou quasar */
  ul, ol { padding-left: 2em; }

  /*styly pro vybrana pravidla*/
  p.ruleText{
      font-weight: bold;
  }
  div.otherRule{
      color:gray;
      padding: 5px 10px;
      margin: 10px 0;
      background: -moz-linear-gradient(-45deg, rgba(200,200,200,0.2) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(200,200,200,0.2)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(-45deg, rgba(200,200,200,0.2) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(-45deg, rgba(200,200,200,0.2) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(-45deg, rgba(200,200,200,0.2) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
      background: linear-gradient(135deg, rgba(200,200,200,0.2) 0%,rgba(255,255,255,0) 100%); /* W3C */
  }
  div.selectedRule{
      border:1px solid #2D83BE;
      padding: 5px 10px;
      margin: 10px 0;
      background: -moz-linear-gradient(-45deg, rgba(179,213,226,0.2) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(179,213,226,0.2)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(-45deg, rgba(179,213,226,0.2) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(-45deg, rgba(179,213,226,0.2) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(-45deg, rgba(179,213,226,0.2) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
      background: linear-gradient(135deg, rgba(179,213,226,0.2) 0%,rgba(255,255,255,0) 100%); /* W3C */
  }
  a.selectedRuleA{
      font-weight: bold;
  }